/* fonts.css */

@font-face {
    font-family: 'More-Sugar';
    src: local('More-Sugar'), url('MoreSugar-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gaegu';
    src: local('Gaegu'), url('Gaegu-Regular.ttf') format('trueType');
}

@font-face {
    font-family: 'Gaegu-Bold';
    src: local('Gaegu-Bold'), url('Gaegu-Bold.ttf') format('trueType');
}